APP_NAME=ArthSaathi

DB_HOST=localhost
DB_PORT=5432
DB_NAME=arthsaathi

DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET_KEY=replace_me

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30